/*.container{
    background-color:white;
    
}

.container img {
    width:30%;
    height: 110px;
    position:center;
    background-color: white;
    
}


.py-2 {
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 5em;
    color: #6b705c;
    margin-top:90px;
}*/

@media only screen and (min-width: 960px) {
    .navbar {
      flex-direction: column;
    }
  }
  
  @media only screen and (min-width: 960px) {
    .navbar .nav-item {
      padding: 0.5em 1em;
    }

  }

  .navbar .navbar-nav {
    margin-top: 0.5em;
  }
  
  .navbar {
    background-color: #fff;
    color: #6b705c;
    text-align: center;
  }


  .nav-link:hover{
    background-color: #6b705c;
    color:#fff;

  }
  
  .container {
    background-color: #fff;
    
  }
  
  .nav-link {
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 5em;
    color: #6b705c;
    margin-top:10px;
  }
  
  #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }
  #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #6b705c;
  }

