<div class="page">
  <h2 class="banner">.</h2>
    <form class="shoplistform">
      <h2 class="title">Shopping List</h2>
    <label for="listname" class="h4">Shopping List Name</label> 
        <textarea class="form-control form-shoplistform" id="shoplist" formControlName="shoppingList" rows="1" placeholder="Friday evening dinner"></textarea>
        <ul class="list-group">
          <li class="list-group-item active">Basmati rice</li>
          <li class="list-group-item">Tomatoes</li>
          <li class="list-group-item">Chicken Breast</li>
          <li class="list-group-item">Curry Powder</li>
        </ul>
      <button class="btn btn-block btn-outline-dark" type="submit">SUBMIT</button>
      </form>
</div>